

@font-face {
    font-family: 'SourceHanSansCN';
    src: url('./../font/SourceHanSansCN-Regular-2.otf');
  }
  html{
    height: 100%;
  }
  body{
    height: 100%;
  }
  #app {
      font-family: Avenir, Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      height: 100%;
    }
  #app section{
    min-height: 100%;
  }
    * {
      margin: 0px;
      padding: 0px;
      font-family: SourceHanSansCN;
    }
    .row_btn{
      margin-right: 10px;
      margin-top: 10px;
      margin-top: 10px;
      background:#daeaf9;
      border:0;
      font-size: 12px;
      font-family: SourceHanSansCN;
      font-weight: 400;
      color: #0F3B95;
      height: 26px;
      line-height: 26px;
      padding:0 10px;
      border-radius: 26px;
      cursor: pointer;
    }
    
    .form_page_container{
      margin-left: 10px;
      border-radius:10px;
      background:#fff;
      padding-bottom: 40px;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    }
  
    
    .form_page_container .form_title{
      background-color:#F5F8FB;
      height:40px;
      line-height: 40px;
      margin-bottom:30px;
      padding-left: 30px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom: 1px solid #CCCCCC;
      font-size: 16px;
      font-family: AlibabaPuHuiTi;
      font-weight: 400;
      color: #3F3F3F;
    }
    
    .form_item_button{
      width: 140px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      font-size: 14px;
      font-family: SourceHanSansTCVF;
      font-weight: 400;
      color: #0F3B95!important;
      border: 0;
      border-radius: 10px;
      background-color: #DAEAF9;
      cursor: pointer;
    }
    .form-bottom{
      padding: 20px 0;
    }
    /** 修改switch开关的颜色 */
    .ant-switch-checked{
      background-color: #13BF61!important;
    }
    /** 修改单选框按钮的颜色 */
    .ant-radio-wrapper{
      margin-right: 0;
    }
    .ant-radio-inner::after{
      background-color: #0F3B93!important;
    }
    .ant-radio-checked .ant-radio-inner{
      border-color: #0F3B93!important;
    }
    .ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner{
      border-color: #0F3B93!important;
    }
    html{
      --antd-wave-shadow-color: #3e8bfe!important;
    }
    /** checkbox */
    .ant-checkbox-checked .ant-checkbox-inner{
      background-color: #3e8bfe!important;
      border-color: #3e8bfe!important;
    }
    .ant-checkbox-checked::after{
      border-color: #3e8bfe!important;
    }
    /** button */
    .ant-btn{
      border-radius: 2px !important;
    }
    .ant-btn-primary{
      background-color: #3E8BFE!important;
      border-color: #3E8BFE!important;
    }
    .ant-btn-primary:hover, .ant-btn-primary:focus{
      background-color: #3E8BFE!important;
      border-color: #3E8BFE!important;
    }
    
    .queryBtn {
      background: #3e8bfe !important;
      border: #3e8bfe;
      color: #fff;
      margin-right: 8px;
      border: 1px solid black;
    }
    
    .resetBtn{
      border: 1px solid #C5C5C5 !important;
      background: #fff !important;
      color: #333333!important;
      display: inline-flex!important;
      align-items: center;
      justify-content: space-around;
    }
    .addBtn {
      background: #3e8bfe !important;
      border: #3e8bfe;
      color: #fff;
      margin-left: 8px;
    }
    /** row button */
    .rowicon{
      margin-right: 4px;
    }
    /** table */
    .ant-table-thead tr th{
      background-color: rgba(245, 247, 250, 1) !important;
    }
    .ant-table-column-title{
      
      font-size: 14px;
      font-family: Source Han Sans CN-Regular, Source Han Sans CN;
      font-weight: 400;
      color: #555770;
    }
    .ant-table-thead > tr:first-child > th:first-child{
      border-radius: 0!important;
    }
    .ant-table-thead > tr:first-child > th:last-child{
      border-radius: 0!important;
    }
    /*标题*/
    .ant-table-thead > tr > th{
      padding: 12px 16px!important;
    }
    /*行内*/
    .ant-table-tbody > tr > td{
      font-size: 14px;
      font-family: Source Han Sans CN-Normal, Source Han Sans CN;
      font-weight: 400;
      color: #555770;
      /* min-height: 62px!important; */
    }
   /**table前面的加号*/ 
  .ant-table-row-expand-icon.ant-table-row-collapsed{
    line-height: 17px;
  }
  
  /** 单选按钮 */
  .ant-radio-button-wrapper-checked{
    background: #3e8bfe!important;
    border-color: #3e8bfe!important;
  }
  
  .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-up.on, .ant-table-thead > tr > th .ant-table-column-sorter .ant-table-column-sorter-inner .ant-table-column-sorter-down.on{
    color: #0F3B93!important;
  }
  
  .ant-table-body{
    overflow-x: auto!important;
  }
  /* .ant-table-body .ant-table-thead tr th{
    text-align: center!important;
  } */
  
  /* 面包屑导航 */
  .ant-breadcrumb {
    color: #333333 !important;
    margin-bottom: 20px !important;
  }
  .ant-breadcrumb-separator {
    color: #333333 !important;
  }
  .ant-breadcrumb > span:last-child {
    color: #3e8bfe !important;
  }
  
  .ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-prev, .ant-pagination-jump-next,.ant-pagination-item{
    /* width: 26px !important; */
    min-width: 26px !important;
    height: 26px !important;
    line-height: 26px !important;
  }
  .ant-pagination .ant-select,.ant-pagination .ant-select-selection,.ant-pagination .ant-pagination-options,.ant-pagination-options-quick-jumper,.ant-pagination-options-quick-jumper input,.ant-select-selection__rendered{
    height: 32px !important;
    line-height: 32px !important;
  }
  .ant-select-selection--single{
      border: 1px solid rgba(107, 121, 146, 1)!important;
      border-radius: 2px!important;
  }
  .ant-select-selection--multiple{
        border: 1px solid rgba(107, 121, 146, 1)!important;
      border-radius: 2px!important;
  }
  .ant-card-head{
    padding: 0px 30px 0px 40px !important;
    color:#333333 !important;
    border: none !important;
  }
  .ant-card-body{
    padding: 0px 30px !important;
  }
  .ant-card-head-title{
    padding: 30px 0 25px!important;
  }
  .form input[type='radio'], form input[type='checkbox']{
    width: 16px !important;
    height: 16px !important;
  }
  .ant-checkbox-group-item{
    margin-right: 50px !important;
  }
  .ant-modal-content{
    margin-top: 10%;
  }
  .anticon.anticon-question-circle{
    display: none !important;
  }
  .ant-modal-confirm-content{
    margin-top: 20px !important;
    margin-left: 0px !important;
    text-align: center !important;
  }
  .ant-modal-confirm-btns{
    float: none !important;
    margin-top: 20px !important;
    text-align: center !important;
  }
  .iconStyle{
    display: inline-block !important;
    width: 15px !important;
    height: 15px !important;
    margin-right: 6px !important;
    margin-bottom: 4px !important;
    vertical-align:middle !important;
  }
  
  .ant-btn-text{
    color:#3e8bfe !important;
    border-left: none !important;
  }
  .ant-btn-text:hover{
    /* color:#3e8bfe !important; */
    border-color: none !important;
  }
  .ant-input{
      border: 1px solid rgba(107, 121, 146, 1)!important;
      border-radius: 2px!important;
  }
  .ant-input-search ant-input-search-enter-button ant-input-group-wrapper:hover{
    border-color: #3e8bfe !important;
  }
  .ant-input::placeholder{
    color: #999999 !important;
  }
  
  /*
  富文本编辑器
  */
  .tox-editor-container{
      border: 1px solid rgba(107, 121, 146, 1)!important;
      border-bottom: 0!important;
      border-radius: 2px!important;
  }
  .tox-statusbar{
      border: 1px solid rgba(107, 121, 146, 1)!important;
  }
  .tox-toolbar__group{
      border-right: 1px solid rgba(107, 121, 146, 1)!important;
  }
  /*
  文本框
  */
  .ant-input::placeholder{
      font-size: 14px;
      font-family: Source Han Sans CN-Light, Source Han Sans CN;
      font-weight: 300;
      color: #7E7F88;
  }
  .ant-input{
      font-size: 14px;
      font-family: Source Han Sans CN-Normal, Source Han Sans CN;
      font-weight: 400;
      color: #333333;
  }
  
  
  /*
  列表样式
  */
  .list_page_container {
        position: relative;
      width: 100%;
      background: #fff;
      box-shadow: 2px 1px 6px rgba(0, 21, 41, 0.12);
      padding: 35px 50px 35px 50px;
  }

.my-page{
    margin: 25px 16px 24px 16px;
}

/*返回上一级*/
.his_back{
    border-bottom: 1px solid #1890ff;
    color: #1890ff;
    line-height: 44px;
    height: 35px;
    cursor: pointer;
}
.sel_tips{
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.2);
}