{
  "name": "test",
  "plan": [
    {
      "name": "extract",
      "dumper": "RPMExtractDumper",
      "executor": "null.NullExecutor",
      "config": {
        "compare_type": "CMP_TYPE_NULL",
	    "package": "kernel"
      }
    },
    {
      "name": "kconfig",
      "dumper": "KconfigDumper",
      "executor": "nvs.NVSCompareExecutor",
      "config": {
        "compare_type": "CMP_TYPE_KCONFIG",
		"package": "kernel",
		"show_same": true
      }
    }
  ]
}
