{
  "name": "file",
  "plan": [
    {
      "name": "kconfig",
      "dumper": "KconfigDumper",
      "executor": "nvs.NVSCompareExecutor",
      "config": {
        "compare_type": "CMP_TYPE_KCONFIG",
		"show_same": true
      }
    }
  ]
}