{
  "name": "file",
  "plan": [
    {
      "name": "kconfig_drive",
      "dumper": "KconfigDriveDumper",
      "executor": "nvs.NVSCompareExecutor",
      "config": {
        "compare_type": "CMP_TYPE_KCONFIG_DRIVE",
        "show_same": true
      }
    }
  ]
}