{
  "name": "test",
  "plan": [
    {
      "name": "extract",
      "dumper": "RPMExtractDumper",
      "executor": "null.NullExecutor",
      "config": {
        "compare_type": "CMP_TYPE_NULL",
        "package": "kernel"
      }
    },
    {
      "name": "kconfig_drive",
      "dumper": "KconfigDriveDumper",
      "executor": "nvs.NVSCompareExecutor",
      "config": {
        "compare_type": "CMP_TYPE_KCONFIG_DRIVE",
        "package": "kernel",
        "show_same": true
      }
    }
  ]
}